.main {
  height: 100vh;
  background: #d9a7c7;
  background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);
  background: linear-gradient(to left, #fffcdc, #d9a7c7);
  overflow-x: hidden;
  text-align: center;
  color: #330745;
  justify-content: space-around;
}

h1 {
  color: #fff;
  text-shadow: 4px 4px #dc004e;
  font-size: 4rem;
}


.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
}

.task-wrapper {
  overflow-y: scroll;
  width: 60vw;
  overflow-x: hidden;
  align-items: center;
}

.tip {
  opacity: 0.8;
  font-size: 0.9rem;
}

.message {
  margin-top: 2%;
}

.authForm-wrapper {
  width: 400px;
  margin: auto;
  height: 350px;
  padding: 50px;
}

.authForm {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-around;
}

.logout {
  text-decoration: underline;
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .main {
    flex-direction: column;
  }

  .main > div {
    width: 100%;
  }

  .info-wrapper {
    justify-content: start;
  }

  .task-wrapper {
    justify-content: start;
    height: 50vh;
    overflow-y: visible;
  }
}